* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   text-align: center;
}

body {
   text-align: center;
   font-family: sans-serif, Times, "New Roman", "Cambria", Garamond;
   background-color: rgb(0, 77, 186);



}

.header {
   display: flex;
   justify-content: center;
   align-items: center;


}



.head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 63px;
   background-color: #0b0040;
   position: fixed;
   width: 100%;
   z-index: 100;
   outline: none;



}

.navbar {
   display: flex;
   margin-right: 10px;


}

.logo {

   margin-left: 30px;
   color: #fff2f2;
   text-decoration-line: none;

}



.navbar a {
   display: block;
   padding: 23px 20px;
   color: rgb(235, 238, 241);
   text-decoration: none;




}

.navbar a:hover {
   background-color: rgb(209, 0, 0);

}


.header {
   display: flex;
   justify-content: center;
   align-items: center;


}



main {

   padding: 10px;
   border-radius: 10px;
   width: 100%;
   max-width: 300px;
   min-height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;

}




.spnQtd {
   text-align: end;
}


.answers {
   display: flex;
   flex-direction: column;
   gap: 5px
}


button {
   display: 100%;
   text-align: start;
   padding: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: rgb(15, 173, 173);
   color: aliceblue;
}

.finish {
   display: none;
   flex-direction: column;
   gap: 10px;
}

.finish button {
   text-align: center;
}

.quiz {
   flex-direction: column;
   display: flex;
   justify-content: space-around;
   justify-items: center;
   padding: 240px;
   flex-direction: row;
   text-align: center;
   border: 2px rgb(176, 176, 176);
   background-image: url("../assets/quizfoto.png");
   background-repeat: repeat;
   background-size: 100%;



}


.grafico {
   display: flex;
   padding: 20px;
   width: 30px;
   height: 40px;

}

.calculadora {


   width: 40vh;
   height: 25vh;
   background-color: rgb(51 116 250);
   padding-top: 50px;
   text-align: center;

}

.quiz2 {

   width: 50vh;
   height: 45vh;
   background-color: rgb(51 116 250);
   padding-top: 50px;

}